.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.name {
  cursor: pointer;
  border: 1px dodgerblue solid;
}
.box {
  border: 1px green solid;
}

.red{
  color: red;
  font-weight: bolder;
}

.yellow {
  color: rgb(23, 43, 218);
  font-weight: bolder;
  
}

.black{
  color: black;
  font-weight: bold;
}

.copyright {
  position: absolute;
  bottom: 0;
  text-align: center;
  width: 100%;
  font-family: monospace;
}